---
name: Smoke Tests

on: [push]

jobs:
  test:
    name: Smoke tests
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Build package
        run: make deps && make -j
      - name: python
        run: ./.venv/bin/python ./scripts/00-example.py
      - name: rna_analysis
        run: ./.venv/bin/rna_analysis --sequence AUCCUUUUCAGUUGGGCCUUCUGGUGAUGUUUCUGGCCACCCAGGAGGUCCUGAGGAAGAGGUGGACGGCCAGAUUGACU
      - name: rna_benchmark
        run: ./.venv/bin/rna_benchmark --cases cases/cases.yaml --verbose
